first-neural-network/Bike-Sharing-Dataset/*.csv
kaggle/rossmann/original/*.csv
kaggle/rossmann/*.zip
kaggle/rossmann/original/*.zip
kaggle/rossmann/*.pickle
kaggle/rossmann/*.csv
hinton/MNIST_data/*.gz
GAN/data/*.mat
GAN/data/train_32x32.mat
*.7z
*.jpg
/TensorFlowNotMnist/notMNIST_large/*
/TensorFlowNotMnist/notMNIST_small/*
/kaggle/*.zip
/kaggle/*.7z
/kaggle/data/*
/not_mnist/*
/udacity_dl/*
/kaggle/test
/kaggle/train
/kaggle/*.7z
/kaggle/*.zip
/kaggle/*.p
/**/*.p
/**/*.jpeg
/**/*.jpg
/**/.DS_Store
/**/*.gz
/kaggle/train/*
/kaggle/test/*
/kaggle/mnist_data/*
/kaggle/additional_Type_1_v2/*
/kaggle/additional_Type_3_v2/*
/kaggle/additional_Type_2_v2/*
/kaggle/*.h5
/kaggle/criteodisplay/*.txt
/kaggle/criteodisplay/*.gz
/kaggle/criteodisplay/*.csv
/kaggle/criteodisplay/*.zip
kaggle/biological_response/*.csv
