*.7z
*.jpg
/udacity_dl/*
/kaggle/test
/kaggle/train
/kaggle/*.7z
/kaggle/*.zip
/kaggle/*.p
/**/*.p
/**/*.jpeg
/**/*.jpg
/**/.DS_Store
/**/*.gz
/kaggle/train/*
/kaggle/test/*
/kaggle/mnist_data/*
/kaggle/additional_Type_1_v2/*
/kaggle/additional_Type_3_v2/*
/kaggle/additional_Type_2_v2/*
/kaggle/*.h5
